<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON611
### Lecture 3 -  Python - Lists & Tuples
- Notes adapted from: 

    1. Think Python - How to Think like a Computer Scientist
    2. Effective Python - 59 Specific Ways to Write Better Python
    3. [Beginning Python Programming for Aspiring Web Developers](http://www.openbookproject.net/books/bpp4awd/index.html)

## Strings - Lists & Tuples = Sequence Data Types
---
- __String__ sequence => ordered collections of other values. 
- __Strings, lists, and tuples are all sequence types, so called because they behave like a sequence - an ordered collection of objects__
- Sequence types are compound data types, this means that they are made up of smaller pieces. 
    > In the case of strings, theyâ€™re made up of _smaller strings, each containing one character._ There is also the empty string, containing no characters at all. 
    
    > _In the case of lists or tuples, they are made up of elements, which are values of any Python datatype, including other lists and tuples._
    
    > Lists are enclosed in square brackets ([ and ]) and tuples in parentheses (( and )).
    
    > A list containing no elements is called an empty list, and a tuple with no elements is an empty tuple.

In [1]:
[10, 20, 30, 40, 50, 60] # list of 6 integers
print(type(([10, 20, 30, 40, 50, 60])))

["excel", "stata", "python"] #list of 3 strings
print(type(["excel", "stata", "python"]))

(2, 4, 6, 8, 20)#tuple with 5 integers
print(type((2, 4, 6, 8, 20))) 


("two", "four", "six", "eight")#tuple with 4 strings
print(type(("two", "four", "six", "eight")))


[("cheese", "white"), ("red", "wine"), ("salmon", "pink")] #list with 3 tuples
print(type([("cheese", "white"), ("red", "wine"), ("salmon", "pink")]))

["excel", "stata", "python", ("red", "wine"), ["two", "four", "six", "eight"]]
print(type(["excel", "stata", "python", ("red", "wine"), ["two", "four", "six", "eight"]])) #list with tuples and list

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>
<class 'list'>

In [2]:
## when dealing with tuples we can only use a comma to separate the values
thing = 2, 4, 6, 8, 10, 12
print(type(thing))


## when creating a tuple with one element we need to use a comma
one_element_tuple = (4,)
print(type(one_element_tuple))

no_a_tuple = (2)
print(type(no_a_tuple))

## empty tuple
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

## Accessing the elements of a sequence
---
- __Strings, lists and tuples__: share a common set of operations
1. Indexing
2. Length
3. Accessing the elements at the end of a sequence
4. Traversing the element

## Indexing
---
The indexing operator ```([ ])``` selects one element from a sequence. The expression inside brackets is called the index, and must be an __integer value.__ The index indicates which element to select, hence its name.
Here sample in different computer

<p align="center">
  <img src="../../img/banana.png" width="500" height="455">
</p>

In [3]:
## Basic form of slicing 
fruit = "banana"
print(type(fruit))
print(fruit[0])
print("\n")


fruits = ['orange', 'melon', 'apple']
print(type(fruits))
print(fruits[0])
print("\n")

market_prices = (3.30, 5,89, 4.89, 9)
print(type(market_prices))
print(market_prices[0])
print("\n")


pairs = [("cheese", "white"), ("red", "wine"), ("salmon", "pink")]
print(type(pairs))
print(pairs[2])
print("\n")
print(pairs[2][0])

<class 'str'>
b


<class 'list'>
orange


<class 'tuple'>
3.3


<class 'list'>
('salmon', 'pink')


salmon

## Length
---
- __String__: returns the number of characters in a string
- __Lists and tuples__: returns the number of elements in the sequence

In [4]:
print(fruit)
print(len(fruit))
print("\n")

print(fruits)
print(len(fruits))
print("\n")

print(market_prices)
print(len(market_prices))

banana
6


['orange', 'melon', 'apple']
3


(3.3, 5, 89, 4.89, 9)
5

## Accessing the elements at the end of a sequence and traversing element 
---

In [5]:
'''Basic form of slicing [start:end]'''
a = ['a', 'b', 'c', 'd','e','f','g','h']
print('First four:', a[:4])
print('Last four:', a[-4:])
print('Middle two:', a[3:-3])

'''When slicing from the start of a list, leave out the zero index to reduce visual noise'''
print(a[:5])
print(a[0:5])

'''When slicing to the end of a list/string/tuple leave the final index empty'''
print(a[5:])
print(a[5:len(a)])

First four: ['a', 'b', 'c', 'd']
Last four: ['e', 'f', 'g', 'h']
Middle two: ['d', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['f', 'g', 'h']
['f', 'g', 'h']

In [6]:
'''Lets create a list with a string, list and tuple'''
sequence_data_types = [fruit, fruits, market_prices]
for element in sequence_data_types:
    print(element, type(element))
    print('First four:', element[:4])
    print('Last four:', element[-4:])
    print('Middle two:', element[2:-2])
    print("\n")

banana <class 'str'>
First four: bana
Last four: nana
Middle two: na


['orange', 'melon', 'apple'] <class 'list'>
First four: ['orange', 'melon', 'apple']
Last four: ['orange', 'melon', 'apple']
Middle two: []


(3.3, 5, 89, 4.89, 9) <class 'tuple'>
First four: (3.3, 5, 89, 4.89)
Last four: (5, 89, 4.89, 9)
Middle two: (89,)

## Do you know what is going on?
---
<p align="center">
  <img src="../../img/stop_pict.jpg" width="256" height="455">
</p>

## Warm up 1
---
Iterate through the list of animals and print each one, but in all caps.

In [7]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [8]:
for animal in animals:
    print(animal.upper())

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

## Warm up 2
---
Iterate through the list of animals and if the name of animal begins with ```d, s, or g``` print the name of the animal, with ONLY the first letter in caps.

In [9]:
for element in animals:
    if element[0] in ['d', 's', 'g']:
        print(element, "**", element.title())

duck ** Duck
slug ** Slug
gazelle ** Gazelle

## More on slicing
---

- Using __negative__ numbers for slicing is helpful for doing offsets relative to the end of a list.

In [10]:
'''Using the list a => we created before'''
a

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [11]:
'''get all the elements of a list'''
print(a[:])

'''get the first five'''
print(a[:5])

'''get all the elements but the last'''
print(a[:-1])

'''get from the four element to the end'''
print(a[4:])

'''get the last 3 elements of the list'''
print(a[-3:])

'''get elements from the third to the fifth'''
print(a[2:5])

'''get elements from the third to the end but not the last one'''
print(a[2:-1])

'''get elements from the last third to the end but not the last one'''
print(a[-3:-1])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e', 'f', 'g']
['e', 'f', 'g', 'h']
['f', 'g', 'h']
['c', 'd', 'e']
['c', 'd', 'e', 'f', 'g']
['f', 'g']

In [12]:
'''Slicing nicely deals with start or end index values that are outside the boundaries of the list'''
first_twenty_items = a[:20]
print(first_twenty_items)
print("\n")

last_twenty_items = a[-20:]
print(last_twenty_items)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']


['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [13]:
'''
    The results of slicing a list is a whole new list
    1. The original list keeps the elements
    2. New list doesn't affect the original list
'''
b = a[4:]
print("Before:  ", b)
b[1] = 99
print("After:  ", b)
print('No change/original list: ', a)

Before:   ['e', 'f', 'g', 'h']
After:   ['e', 99, 'g', 'h']
No change/original list:  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [14]:
'''
    When using assignments, slices will replace the specified range in the original list
'''
print("Before:  ",a)
a[2:7] = [99,22,15]
print("After:  ",a)

Before:   ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
After:   ['a', 'b', 99, 22, 15, 'h']

In [15]:
'''
    If you leave out both the start and the end indexex when slicing we end up with a copy of the original list
'''
b = a[:]
assert b == a and b is not a

'''
    If you assign a slice with no start or end indexes, YOU WILL REPLACE THE ENTIRE CONTENTS WITH A COPY OF WHAT
    IS REFERENCED - INSTEAD OF ALLOCATING A NEW LIST
'''
b = a
print("Before:  ",a)
a[:] = [102,103,104,105]
assert a is b
print("After:  ", b)

Before:   ['a', 'b', 99, 22, 15, 'h']
After:   [102, 103, 104, 105]

In [16]:
'''
    Be careful when using stride - this can cause some unexpected behavior
    alist[start:end:stride]
'''
a = ['red', 'orange', 'yellow', 'green', 'blue', 'purple']
odds = a[::2]
evens = a[1::2]
print(odds)
print(evens)

['red', 'yellow', 'blue']
['orange', 'green', 'purple']

In [17]:
'''
    What about reversing? - this simple example makes a lot of sense
'''
x = 'mongoose'
y = x[::-1]
print(x)
print(y)

mongoose
esoognom

In [18]:
a  = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print(a)
'''it means get/select every second item starting at the beginning'''
print(a[::2])

'''it means get/select every second item starting at the end and moving backwards'''
print(a[::-2])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'c', 'e', 'g']
['h', 'f', 'd', 'b']

In [19]:
'''The stride part of slicing can be confusing'''
print(a[2::2])
print(a[-2::-2])
print(a[-2:2:-2])
print(a[2:2-2])

'''If you need to use stride stick to the use of a positive number and omit using start and end indixes'''
print(a[::2])

['c', 'e', 'g']
['g', 'e', 'c', 'a']
['g', 'e']
[]
['a', 'c', 'e', 'g']

## Slicing a list - looks familiar to slicing a string 
---

In [20]:
'''Here it gets more confusing with '''
print(fruit)
print(fruit[2::2])
print(fruit[2::2])
print(fruit[-2::-2])
print(fruit[-2:2:-2])
print(fruit[2:2-2])

banana
nn
nn
nnb
n

In [21]:
'''get all the values in a string '''
print(fruit[:])

'''get the first five'''
print(fruit[:5])

'''get all the values but the last'''
print(fruit[:-1])

'''get from the four values to the end'''
print(fruit[4:])

'''get the last 3 values of the list'''
print(fruit[-3:])

'''get values from the third to the fifth'''
print(fruit[2:5])

'''get values from the third to the end but not the last one'''
print(fruit[2:-1])

'''get values from the last third to the end but not the last one'''
print(fruit[-3:-1])

banana
banan
banan
na
ana
nan
nan
an

In [23]:
''' 
    Can we replace a value on a string?.... NOOOOOOOO => strings are NOT MUTABLES
'''
print(fruit)
fruit[0] = "M"

banana

TypeError: 'str' object does not support item assignment

In [24]:
''' 
    Can we replace a value on a list?.... YES => a list is MUTABLE
'''
print("Before: ", a)
a[0]= 100
print("After: ", a)

Before:  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
After:  [100, 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [25]:
''' 
    Can we replace a value on a tuple?.... NOOOO => tuples are NOT MUTABLE
'''
print(market_prices)
market_prices[0] = 10

(3.3, 5, 89, 4.89, 9)

TypeError: 'tuple' object does not support item assignment

## Objects and methods 
---
- __Strings, lists and tuples are objects__
    - _object_: In computer science, an object can be a variable, a data structure, a function, or a method, and as such, is a value in memory referenced by an identifier.
    
- __This means that they not only hold values, but they have built-in behaviors called methods. These methods act on the values in the object__

In [26]:
'''we cover most of these methods last class '''
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [27]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [28]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
print(list.append.__doc__)

L.append(object) -> None -- append object to end

## List - enumerate and more
---
- __Before we deal with methods__ we need to know how to traverse the elements of a list
- range(len())
- enumerate()

In [30]:
'''
    Prefer enumerate over range
    1. range => built-in function useful for loop that iterate over a set of integers
'''
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
'''when you have a data structure to iterate over, you can loop directly over the sequence'''
flavor_list = ['vanilla', 'chocolate', 'pecan', 'strawberry']
for flavor in flavor_list:
    print('%s is delicious ' %flavor.title())

Vanilla is delicious
Chocolate is delicious
Pecan is delicious
Strawberry is delicious

In [32]:
'''Now if you also want to know the index of the current item in the list'''
for i in range(len(flavor_list)):
    print(flavor_list[i], i)
    print("Index for flavor %s is: %d" % (flavor_list[i], i))

vanilla 0
Index for flavor vanilla is: 0
chocolate 1
Index for flavor chocolate is: 1
pecan 2
Index for flavor pecan is: 2
strawberry 3
Index for flavor strawberry is: 3

In [33]:
'''
    Now if you also want to know the index of the current item in the list
    and ALSO want to rank the flavors based on the order of appereance in the list
'''
for i in range(len(flavor_list)):
    print("Index for flavor %s is: %d" % (flavor_list[i], i))
    flavor = flavor_list[i]
    print('Rank %d: %s' % (i+1, flavor))

Index for flavor vanilla is: 0
Rank 1: vanilla
Index for flavor chocolate is: 1
Rank 2: chocolate
Index for flavor pecan is: 2
Rank 3: pecan
Index for flavor strawberry is: 3
Rank 4: strawberry

In [34]:
'''The steps above can be confusing => here is with enumerate comes handy'''
for i, flavor in enumerate(flavor_list):
    print(i, flavor)
    print("Index %d corresponds to flavor: %s" % (i, flavor))

0 vanilla
Index 0 corresponds to flavor: vanilla
1 chocolate
Index 1 corresponds to flavor: chocolate
2 pecan
Index 2 corresponds to flavor: pecan
3 strawberry
Index 3 corresponds to flavor: strawberry

In [35]:
'''Using enumerate you can specify the number from which enumerate should begin counting'''
for i, flavor in enumerate(flavor_list, 1):
    print(i, flavor)
    print("Index %d corresponds to flavor: %s" % (i, flavor))

1 vanilla
Index 1 corresponds to flavor: vanilla
2 chocolate
Index 2 corresponds to flavor: chocolate
3 pecan
Index 3 corresponds to flavor: pecan
4 strawberry
Index 4 corresponds to flavor: strawberry

```
    Remeber: 
    1. Enumerate provides concise syntax for looping over an iterator and getting the index of each item
    2. Prefer enumerate instead of looping over a range and indexing into a sequence
    3. You can always assign a second parameter to enumerate to specify the number from which to begin counting 
    (zero is the default)
```

## List - functions
---

In [36]:
numeric_list  = [3, 5, 7, 60]
string_list = ['Car', 'Nothing', 'Winner']
print(numeric_list)
print(string_list)
print ("==========\n")

[3, 5, 7, 60]
['Car', 'Nothing', 'Winner']
==========

In [37]:
"""Length"""
print ("The length of numeric_list is %s" % (len(numeric_list)))
print ("==========\n")

The length of numeric_list is 4
==========

In [38]:
""" Concatenation"""
new_list = numeric_list + ["ECON611", "30", "MAE", 90, '2019']
print ("You can add numeric_list and another list to get this result", new_list)
print ("==========\n")

You can add numeric_list and another list to get this result [3, 5, 7, 60, 'ECON611', '30', 'MAE', 90, '2019']
==========

In [39]:
""" Repetition"""
print (string_list*5)
print ("==========\n")

['Car', 'Nothing', 'Winner', 'Car', 'Nothing', 'Winner', 'Car', 'Nothing', 'Winner', 'Car', 'Nothing', 'Winner', 'Car', 'Nothing', 'Winner']
==========

In [40]:
""" Membership => look this is case sensitive!!!"""
print ("Pandora" in (string_list))
print ("Car" in (string_list))
print ("==========\n")

False
True
==========

In [41]:
""" returnning item from the tuple with max and min value"""
print (max(numeric_list), max(string_list))
print (min(numeric_list), min(string_list))
print ("==========\n")

60 Winner
3 Car
==========

## List - methods
---

In [42]:
'''list.append(i) => appends an element to a list'''
print ("The original numeric list is:" , numeric_list)
print ("==========\n")
numeric_list.append(8)
numeric_list.append(8)
print ("The update numeric list is:" , numeric_list)

The original numeric list is: [3, 5, 7, 60]
==========

The update numeric list is: [3, 5, 7, 60, 8, 8]

In [43]:
'''list.count(i) => Returns count of how many times i occurs in list'''
print(numeric_list.count(8))
print ("==========\n")

2
==========

In [44]:
'''list.extend(i) Appends the contents of i to list'''
print (numeric_list)
new_numeri_list =  [99, 8988, 7675, 9.90]
numeric_list.extend(new_numeri_list)
print (numeric_list)
print ("==========\n")

[3, 5, 7, 60, 8, 8]
[3, 5, 7, 60, 8, 8, 99, 8988, 7675, 9.9]
==========

In [45]:
'''list.index(i) Returns the lowest index in list that i appears'''
print(numeric_list.index(8))
print ("==========\n")

4
==========

In [46]:
'''list.insert(index, i) The method insert(), inserts object i into list at offset index'''
numeric_list.insert(4, "new99") ##inserts doesn't replace
print (numeric_list)
print ("==========\n")

[3, 5, 7, 60, 'new99', 8, 8, 99, 8988, 7675, 9.9]
==========

In [47]:
'''list.pop(i=list[-1]) The method pop() removes and returns last object or obj from the list, where i is an optional
parameter, note i in here refers to the index'''
new_list = ['2', 9, 8, "ECON^611"]
print(new_list)
removed_element = new_list.pop(-1)
print (new_list)
print(removed_element)
print ("==========\n")

['2', 9, 8, 'ECON^611']
['2', 9, 8]
ECON^611
==========

In [48]:
'''list.remove(i) Removes object obj from list'''
new_list = ['2', 9, 8, "ECON^611"]
removed_element = new_list.remove("ECON^611")
print (new_list)
print(removed_element) ## funky it doesn't assing the removed value to 
print ("==========\n")

['2', 9, 8]
None
==========

In [49]:
''' list.reverse()=> reverse objects from a list'''
list_new = [8.90, 90,  101.90]
list_new.reverse()
print (list_new)
print ("==========\n")
list_new

[101.9, 90, 8.9]
==========

[101.9, 90, 8.9]

In [50]:
''' list.sort() The method sort() sorts items of list, use compare func if given.'''
list_new.sort()
print (list_new)

[8.9, 90, 101.9]

## FROM your readings - DELETING ITEMS
---
- pop()
- remove()
- del

In [51]:
'''
    IF YOU KNOW THE INDEX OF THE ELEMENT WE WANT TO DELETE
    1. POP modifies the list and returns the element that was removed
    2. If you dont provide an index, IT DELETES AND RETURNS THE LAST ELEMENT
'''
t = ['a', 'b', 'c']
print(t)
print ("==========\n")
x = t.pop(1)
print(x)
print ("==========\n")

['a', 'b', 'c']
==========

b
==========

In [52]:
'''
    IF YOU DONT NEED THE REMOVED VALUE USE DEL
'''
t = ['a', 'b', 'c']
print(t)
print ("==========\n")
del t[1]
print(t)
print ("==========\n")

['a', 'b', 'c']
==========

['a', 'c']
==========

In [53]:
'''
    IF YOU KNOW THE ELEMENT YOU WANT TO REMOVE - BUT NOT THE INDEX - USE REMOVE - note the return value from
    remove is NONE
'''
t = ['a', 'b', 'c']
print(t)
print ("==========\n")
t.remove('b')
print(t)
print ("==========\n")

['a', 'b', 'c']
==========

['a', 'c']
==========

In [54]:
'''
    REMOVE MORE THAN ONE ELEMENT USING SLICING
'''
t = ['a', 'b', 'c']
print(t)
print ("==========\n")

del t[1:5]
print(t)
print ("==========\n")

['a', 'b', 'c']
==========

['a']
==========

In [55]:
''' Pass a string or anything else to a list'''
s = 'spamfilter'
print(s, type(s))
print ("==========\n")

t = list(s)
print(t, type(t))
print ("==========\n")

spamfilter <class 'str'>
==========

['s', 'p', 'a', 'm', 'f', 'i', 'l', 't', 'e', 'r'] <class 'list'>
==========

In [56]:
'''Breaking a string into a list'''
s = 'this class is giving me a hard time but I like it'
t = s.split()
print(t, type(t))

['this', 'class', 'is', 'giving', 'me', 'a', 'hard', 'time', 'but', 'I', 'like', 'it'] <class 'list'>

In [57]:
'''Breaking a string into a list using a delimeter'''
s = 'this_class_is_giving_me_a_hard_time_but_I_like_it'
t = s.split("_")
print(t, type(t))

['this', 'class', 'is', 'giving', 'me', 'a', 'hard', 'time', 'but', 'I', 'like', 'it'] <class 'list'>

In [58]:
'''Joining the elements'''
t
print(t)
s = " ".join(t)
print(s)

['this', 'class', 'is', 'giving', 'me', 'a', 'hard', 'time', 'but', 'I', 'like', 'it']
this class is giving me a hard time but I like it

## Do you know what is going on?
---
<p align="center">
  <img src="../../img/stop_pict.jpg" width="256" height="455">
</p>

## Warm up 3
---
You order a mushroom and cheeze pizza from Pizza Hut and they represent your order as a list:
```
pizza1 = ['cheese', 'mushroom]
```
Then you realize you want to add onions. You know that Pizza Hut needs to update your order but they don't know anything about programming. So they do this:
```
pizza2 = pizza1+ ['onions']
pizza1 = ['cheese', 'mushroom]
pizza2 = ['cheese', 'mushroom], 'onions'
```
What is wrong here? DO you really want 2 pizzas? How can you mutate the existing pizza1?

## Warm up 3 - continue
---
In a paper write the output of the following:

```
lst1 = [1,2,3]
lst2 = lst1
lst2 is lst1
```

```
lst1.append(4)
lst1
```

```
lst2
```

```
lst2[1] = 42
lst2
```

```
lst1
```


```
lst1 = lst1 +[5]
lst1
```


```
lst2
```

```
lst2 is lst1
```

In [59]:
lst1 = [1,2,3]
lst2 = lst1
lst2 is lst1

True

In [60]:
lst1.append(4)
lst1

[1, 2, 3, 4]

In [61]:
print(lst2)
lst2[1] = 42
lst2

[1, 2, 3, 4]

[1, 42, 3, 4]

In [62]:
print(lst1)
lst1 = lst1 +[5]
lst1

[1, 42, 3, 4]

[1, 42, 3, 4, 5]

In [63]:
lst2 is lst1

False

## Warm up 4
---
Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.
HINT: you can cast a value as an integer using ```int()```, or as a float using ```float()```, or as a string using ```str()```

In [64]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [65]:
cleaned = []
for item in corrupted:
    try:
        cleaned.append(float(item))
    except:
        pass
print (cleaned)

[23.1, 0.12, -11.1, 1000.0]

## Warm up 5
---
- Write a function ```square_elements``` which takes a list and replaces each element with the square of that element.
- NOTE: MUTATE THE ORIGINAL LIST INSTEAD OF CREATING A NEW LIST

In [66]:
def square_elements(lst):
    '''Squares every element in a list'''
    i = 0
    while i < len(lst):
        lst[i] = lst[i]*lst[i]
        i +=1
    return lst

In [67]:
square_elements([1,2,3,4])

[1, 4, 9, 16]

## Tuples
---
- __Sequence of values, where the value can be of any type and we can index a tuple using an integer => thus behave like a list.
- Tuples are not MUTABLE

In [68]:
'''THIS IS A TUPLE'''
t = 'a', 'b', 'c', 'd','e'
print(type(t))

<class 'tuple'>

In [69]:
'''THIS IS ALSO A TUPLE'''
t = ('a', 'b', 'c', 'd','e')
print(type(t))

<class 'tuple'>

In [70]:
'''THIS IS ALSO A TUPLE => notice the comma'''
t1 = 'a', 
print(type(t1))

<class 'tuple'>

In [71]:
'''THIS IS ALSO A TUPLE => notice the comma'''
t1 = ('a', )
print(type(t1))

<class 'tuple'>

In [72]:
'''THIS IS NOT A TUPLE => notice the comma'''
t2 = ('a')
print(type(t2))

<class 'str'>

In [73]:
'''call the function as is'''
t = tuple()
print(type(t))

<class 'tuple'>

In [74]:
'''call the function as is'and pass a sequence'''
t1 = tuple([1,2,3,4])
print(type(t1))
t2 = tuple('econ611')
print(type(t2))
t3 = tuple((4,5))
print(type(t3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [75]:
'''You can access the elements of a tuple in the same manner as the str and lst'''
print(t1[0])
print(t1[2:4]) ##slice a tuple

print(t2[0])
print(t2[2:5]) ##slice a tuple

print(t3[0])
print(t3[1])

1
(3, 4)
e
('o', 'n', '6')
4
5

In [76]:
'''Remember tuples are IMMUTABLE'''
t1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [77]:
'''But you can work around this'''
print(t1, type(t1))
t1 = (4,) + t1[1:]
print(t1, type(t1))

(1, 2, 3, 4) <class 'tuple'>
(4, 2, 3, 4) <class 'tuple'>

In [78]:
'''
    Comparing values of a tuple with relational operators
    NOTE:  THIS RELATIONAL OPERATOR WORKS WITH OTHER SEQUENCES
           IT COMPARES THE FIRST ELEMENT FROM EACH SEQUENCE, IF EQUAL MOVES TO THE NEXT ELEMENT UNTIL IT FINDS
           THE ELEMENT THAT DIFFER THEN STOPS
'''
print(t3, t1)
print(t3 < t1)
print(t3 > t1)
print(t3 == t1)

(4, 5) (4, 2, 3, 4)
False
True
False

In [79]:
''' SWAP VALUES THE PYTHONIC WAY'''
test =a
print 
print(a, "****", test)
a = b
print(a, "****", test, "****", b)
b = test
print(a, "****", test, "****", b, "****", test )
assert a==b and a ==test  and b ==test

'''Here is a more elegant way of doing the same'''
a, b = b, a
assert a==b and b ==a
print(a, "****", b)

[100, 'b', 'c', 'd', 'e', 'f', 'g', 'h'] **** [100, 'b', 'c', 'd', 'e', 'f', 'g', 'h']
[102, 103, 104, 105] **** [100, 'b', 'c', 'd', 'e', 'f', 'g', 'h'] **** [102, 103, 104, 105]
[102, 103, 104, 105] **** [100, 'b', 'c', 'd', 'e', 'f', 'g', 'h'] **** [100, 'b', 'c', 'd', 'e', 'f', 'g', 'h'] **** [100, 'b', 'c', 'd', 'e', 'f', 'g', 'h']

AssertionError:

In [80]:
'''
    Hidden gems: the divmod => meaning a buil-in function that takes 2 arguments and returns a 
    tuple quotient and reminder
'''
t = divmod(7,3)
print(t)

'''we can assign these values to a variable'''
quot, rem = divmod(7,3)
print(quot, rem)

(2, 1)
2 1

In [81]:
'''
    Hidden gems: the *args
    1. *args => if we have a sequence of values that want to pass it into a function as multiple argument use the
    * operator 
'''
t = (7,3)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [82]:
print(t)
divmod(*t)

(7, 3)

(2, 1)

In [83]:
'''
    Hidden gems: zip
    built-in function that takes 2 or more sequences and returns a list of tuples, where each tuple has
    one element from each sequence
'''
a = 'econ611'
b = [0,1,2,3,4,5,6]
print(zip(a,b))

'''When you use it in a loop is super powerful'''
for value_pair in zip(a,b):
    print(value_pair)

<zip object at 0x10ab02288>
('e', 0)
('c', 1)
('o', 2)
('n', 3)
('6', 4)
('1', 5)
('1', 6)

In [84]:
'''Zip and list'''
list(zip(a,b))

[('e', 0), ('c', 1), ('o', 2), ('n', 3), ('6', 4), ('1', 5), ('1', 6)]

## More on Tuples
---

In [85]:
x_tupe_1 = ("UBER", "Google", "Worl Bank")
x_tupe_2 = ("Driver", "Engineer", "Economist")
print (type(x_tupe_1), type(x_tupe_2), len(x_tupe_1), len(x_tupe_2))

<class 'tuple'> <class 'tuple'> 3 3

In [86]:
## Tuple operations
"""Length"""
print ("The lentgth of x_tupe_1 is %s" % (len(x_tupe_1)))
print ("==========\n")

""" Concatenation"""
new_tuple = x_tupe_1 + x_tupe_2
print( "You can add x_tupe_1 and x_tupe_2 to get this result", new_tuple)
print ("==========\n")

""" Repetition"""
tup_1 = ("MAN_U", )
print (tup_1*5)
print ("==========\n")

""" Membership => look this is case sensitive!!!"""
print ("Uber" in (x_tupe_1))
print ("UBER" in (x_tupe_1))
print ("==========\n")

""" Iteration"""
for i in x_tupe_2:
    print ("The elements of the x_tupe_2 are" ,i)
print ("==========\n"  )
    
""" Build in Tuple Functions"""
""" returnning item from the tuple with max and min value"""
print (max(x_tupe_1))
print (min(x_tupe_1))
print ("==========\n")

""" Build in Tuple Functions"""
""" converting a list into a tuple"""
x_list = ["Trulia", "Doordash", "Spotify"]
print (type(x_list))
print (tuple(x_list))

The lentgth of x_tupe_1 is 3
==========

You can add x_tupe_1 and x_tupe_2 to get this result ('UBER', 'Google', 'Worl Bank', 'Driver', 'Engineer', 'Economist')
==========

('MAN_U', 'MAN_U', 'MAN_U', 'MAN_U', 'MAN_U')
==========

False
True
==========

The elements of the x_tupe_2 are Driver
The elements of the x_tupe_2 are Engineer
The elements of the x_tupe_2 are Economist
==========

Worl Bank
Google
==========

<class 'list'>
('Trulia', 'Doordash', 'Spotify')