<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON611
### Lecture 7 -  SQL - Basics and intro to Intermediate - Lab

- Use the [W3Schools built in dataset to answer all the questions](https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_columns).
- The dataset used in W3Schools comes from the [Northwind sample database](https://northwinddatabase.codeplex.com/).

## Some general questions: 
---

### Return all of the Customers that live in Mexico D.F and have the name Ana or Angel
---

In [ ]:
SELECT CustomerName
FROM Customers
WHERE (CustomerName LIKE 'ana%' OR CustomerName LIKE 'angle%') AND City = 'Mexico D.F.';

### SELECT order details, alias at least one column, order by Quantity AND UnitPrice
---

In [ ]:
SELECT Quantity, OrderDetailID AS ID, ProductID
FROM OrderDetails
ORDER BY Quantity;

### How many customers by country?
---

In [ ]:
SELECT Country, COUNT(Country) AS country_agg
FROM Customers
GROUP BY Country;

### What is the most recent Order Date? 
---

In [ ]:
SELECT * FROM Orders
ORDER BY OrderDate DESC;

## 1. Products
---

What products is this company selling? The `Products` and `Categories` tables contain information to answer this question.

### 1.1 What categories of products is the company selling?
---

In [ ]:
SELECT DISTINCT CategoryName
FROM Categories;

### 1.2 How many products per category does the catalog contain?
---

In [ ]:
SELECT CategoryID, COUNT(ProductID) AS prod_count
FROM Products
GROUP BY CategoryID;

### 1.3 How many not discontinued products per category?
---

In [ ]:
-- I'm unsure what you by discontinued as there is no variable to match that nor is there a time variable which shows that
SELECT CategoryID, COUNT(ProductID) AS prod_count
FROM Products
GROUP BY CategoryID;

### 1.4 What are the most expensive 5 products (not discontinued)?
---

In [ ]:
SELECT * 
FROM Products
ORDER BY Price DESC,
LIMIT 5;

### 1.5 How many units of each of these 5 products are there in stock?
---

In [ ]:
SELECT OrderDetails.Quantity, Products.ProductID, Products.Price
FROM OrderDetails
JOIN Products
ON OrderDetails.ProductID = Products.ProductID
GROUP BY OrderDetails.ProductID
ORDER BY Products.Price DESC
LIMIT 5;

## 2. Orders
---

### 2.1 How many orders in total?

In [ ]:
SELECT Count(DISTINCT OrderID) as total
FROM OrderDetails;

### 2.2 How many orders per year?

In [ ]:
SELECT YEAR(OrderDate) AS order_year, COUNT(DISTINCT OrderID)
FROM Orders
GROUP BY order_year
ORDER BY order_year;

### 2.3 How many orders per quarter?

In [ ]:
SELECT MONTH(OrderDate) AS order_month, 
	COUNT(DISTINCT OrderID),
    CASE WHEN order_month BETWEEN 1 AND 3 THEN 'Q1'
    WHEN order_month BETWEEN 4 AND 6 THEN 'Q2'
    WHEN order_month BETWEEN 7 AND 9 THEN 'Q3'
    WHEN order_month BETWEEN 10 AND 12 THEN 'Q4'
    END AS order_quater
FROM Orders
GROUP BY order_quater
ORDER BY order_quater;

### 2.4 Which country is receiving the most orders?

In [ ]:
SELECT MAX(COUNT(Orders.OrderID)) AS top_country, Customers.Country
FROM Customers
JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.Country;

### 2.5 Which country is receiving the least?

In [ ]:
SELECT MIN(COUNT(Orders.OrderID)) AS top_country, Customers.Country
FROM Customers
JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.Country;

### 2.6 What's the average shipping time (ShippedDate - OrderDate)?

In [ ]:
-- There is no ShippedDate so this can not be done

### 2.7 What customer is submitting the highest number of orders?

In [ ]:
SELECT CustomerID, MAX(COUNT OrderID) AS top_buyer
FROM Orders
GROUP BY CustomerID;

### 2.8 What customer is generating the highest revenue (need to pd.merge with order_details)?

In [ ]:
-- ????

### 2.9 What fraction of the revenue is generated by the top 5 customers?

Compare that with the fraction represented by 5 customers over the total number of customers.

In [ ]:
-- ???

## Other tables
---

Explore the content of other tables. In particular lookt at the `suppliers`, `shippers` and `employees` tables.

In [ ]:
no...