<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON611
### Lecture 7 -  SQL - Basics and intro to Intermediate
- Notes adapted from: 

    1. [SQL for Data Science: Presentation by Renée Teate](https://docs.google.com/presentation/d/1qOtT2M-rjYa9JzKNz6_CxvfbihmqcmG9Ax6LgIriz0Y/mobilepresent?slide=id.p)
    2. [Mode Analytics: The SQL Tutorial for Data Analysis](https://mode.com/sql-tutorial/introduction-to-sql)
    3. [W3Schools](https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_columns)
    4. [QuantSprout](http://quantsprout.com/)
    5. [ODSC-West Conference 2019](https://odsc.com/california/) 
    6. [SQLite](https://www.sqlite.org/index.html)
    
    
### Objectives
  - Define basic characteristics of RDBMS
  - Understand basic relational database terminology
    - Indice types
    - Columns / Fields
    - Relationships (one-to-one, many-to-one)
  - Basic SQL syntax
    - `SELECT`
    - `WHERE` conditionals
    - `GROUP BY` aggregation + `HAVING` conditional filtering
    - `ORDER BY` sorting
    - `LIMIT` limiting results
    - `JOIN` relational joining of tables

## SQL - is not an EXCEL file
---

- While in school the data we generate is either store in excel or csv files.
- We are used to opening a single file that has the complete view per each entry of collected data.
- In production this is no longer sustainable as companies generate large data points that can't be store in excel files.
- One need to be able to use and relate the multiple datasets to create a final data for analysis.
- Python is not the right tool for this as it is more of an object oriented language that deals with more complex programming issues.
- SQL (and the many flavors) is what we need to use to deal with this.

## Relational Database Systems (RDBMS)
---
- By definition => Structure Query Language(SQL) is a database query language that is used to store and manage data in a Relational form DBMS (Data Base Management and Store). 
- As mentioned before, these days almost all RDBMS use SQL as the standard database query language. 
- This means that SQL is used to perform all types of data operations in RDBMS.
- Beyond this, a correclty created databases lets users develop rules that ensure proper data management and verification, which analyst turn into digestable insights.

## Relational Database Systems (RDBMS)
---
- One needs to remember that SQL is a programming language => there are SQL Developers.
- One needs to remember that SQL provides a relation among multiple data points.
- One needs to remember that SQL allows you to share LARGE data sets with multiple users.
- One needs to remember that SQL helps with the scalability of projects.
- One needs to remember that NOT knowing SQL can be an impediment to:
> Be more effective analyst

    > Get a job as an analyst

## Why you (aspiring - Data Analyst/Scientists/Economist) should learn SQL
---
- Having better understand of the data you’re analyzing is more power to you! - understand the source and how it is compiled
- You don't need to rely on (or wait on) busy data engineers for datasets (trust me on this one)!
- You can efficiently feature engineer (create new variables) earlier in the pipeline.
- Increase your hireability (meaning you can get actually get a job).

### SQL - Types
---
These days there are soo many flavors of SQL but in essence the functionality is the same. Here are a few examples:

1. PostgreSQL
2. SQLite
3. MySQL
4. Amazon Redshift • Oracle
6. Google Big Query
5. Microsoft SQL Server

### SQL - Behind the Scenes - Simple Idea
---
<p align="center">
  <img src="../../img/sql_basic_idea.png" width="700" height="1500">
</p>
*Image from QuantSprout*

### SQL - Behind the Scenes - More Complex - Uber
---
<p align="center">
  <img src="../../img/uber_sql.jpg" width="700" height="1500">
</p>
*Image from ODSC-UBER Data Architecture*

### Basic and Complex (RDBMS)
---
- What do they have in common:

~~~
1. Data is organized in tables.
2. Where tables have rows AKA Records and columns AKA Fields.
3. Fields have data types (see below).
4. There are PRIMARY KEYS (unique identifier).
5. There are FOREIGN KEYS (indetifier to link a table with another table(s)).
~~~

- Data Types:

~~~
1. Text (char(n); varchar(n);, varchar(n)).
2. Numbers (int, float).
3. Boolean (T/F).
4. Temporal (dates, times).
~~~

### A Basic and Complex (RDBMS) system solves:
---
- Data consistency
- Data availability
- Fault tolerance
- Data Scalability

> Databases are all about "data" in terms of features, speed, scale, and reliability.

### A Basic and Complex (RDBMS) system needs to adhere in general terms to ACID
--- 

> Cue student-run bank database example.

The acronym ACID stands for Atomicity, Consistency, Isolation, Durability. This is a set of properties that guarantee that database transactions are processed reliably.

**Atomicity** requires that each transaction be "all or nothing": if one part of the transaction fails, the entire transaction fails, and the database state is left unchanged.

**Consistency** ensures that any transaction will bring the database from one valid state to another. Any data written to the database must be valid according to all defined rules, including constraints, cascades, triggers, and any combination thereof.

**Isolation** ensures that the concurrent execution of transactions results in a system state that would be obtained if transactions were executed serially, i.e., one after the other.

**Durability** ensures that once a transaction has been committed, it will remain so, even in the event of power loss, crashes, or errors. In a relational database, for instance, once a group of SQL statements execute, the results need to be stored permanently (even if the database crashes immediately thereafter)

This is the typical model under which _relational databases_ operate, and it fits perfectly our previous example of the bank.

### Database Terminology
---

1. **Fields** or **Columns**: this is your traditional column name.
2. **Rows** or **Records**: as unique entry that belongs to an specific id.
3. **Schema**: collection of database objects which includes logical structures (often times the terms schema diagram and entity-relationship diagram are interchangeable).
        Including:
            - Databases
            - Tables
            - Relationships Between Tables
            - Keys and Indexes
4. **Primary Key (pk)**: Column with the value that uniquely identifies each row in your table.
5. **Foreign Keys (fk)**: Column with the value that uniquely identifies each row in a different table, and connects it to this one.

### Database Visually- Fields/Columns
---
<p align="center">
  <img src="../../img/sql_cols.png" width="1000" height="1500">
</p>
*Image from W3Schools*

### Database Visually- Rows/Records
---
<p align="center">
  <img src="../../img/sql_rows.png" width="1000" height="1500">
</p>
*Image from W3Schools*

### Database Visually- Entity Relation/Schema
---
W3Schools Entity Relation Diagram (Sample Database)

<p align="center">
  <img src="../../img/sql_schema.png" width="1000" height="1500">
</p>


[Image from W3Schools](https://www.chegg.com/homework-help/questions-and-answers/link-w3schools-relationship-diagram-needed-questions-1-implementing-relational-database-co-q38045137)

### Database Visually- Primary Key(pk)
---
- In the Customers table the PK is Customer ID
<p align="center">
  <img src="../../img/sql_pk.png" width="300" height="600">
</p>


[Image from W3Schools](https://www.chegg.com/homework-help/questions-and-answers/link-w3schools-relationship-diagram-needed-questions-1-implementing-relational-database-co-q38045137)

### Database Visually- Foreign Key (fk)
---
- Customer ID is a Foreign Key in the Orders table
<p align="center">
  <img src="../../img/sql_fk.png" width="500" height="900">
</p>


[Image from W3Schools](https://www.chegg.com/homework-help/questions-and-answers/link-w3schools-relationship-diagram-needed-questions-1-implementing-relational-database-co-q38045137)

### Database Relationships
---
- In real life, customers place more than one order which generates a **ONE TO MANY** relationship. In this case each order can only have one Customer
<p align="center">
  <img src="../../img/sql_one_many.png" width="500" height="900">
</p>


[Image from W3Schools](https://www.chegg.com/homework-help/questions-and-answers/link-w3schools-relationship-diagram-needed-questions-1-implementing-relational-database-co-q38045137)

### Database Relationships
---
- In real life, each Order can include many Products from the catalog and eac Product in the catalog can be included in many Orders. In this case, the Order Details becomes a “junction” table that links each Product with each Order, and records the quantity, therefore we have a **MANY TO MANY** relationship.

<p align="center">
  <img src="../../img/sql_many_many.png" width="600" height="1000">
</p>


[Image from W3Schools](https://www.chegg.com/homework-help/questions-and-answers/link-w3schools-relationship-diagram-needed-questions-1-implementing-relational-database-co-q38045137)

### SQL - Syntax
---

#### SELECT
Every query should start with `SELECT`.  `SELECT` is followed by the names of the columns in the output.

`SELECT` is always paired with `FROM`, and `FROM` identifies the table to retrieve data from.

```sql
SELECT
<columns>
FROM
<table>;
```

One can add as many columns as needed from a table 

```sql
SELECT
<column>, <another_column>, <…>
FROM
<table>;
```

Or we can `SELECT` all the columns from a table using `*`:
```sql
SELECT
*
FROM
<table>;
```


### SQL - Syntax
---

#### ADDING CONSTRAINS - General Operands:
- The idea in here is to filter the data from a table.
- **NOTE: these operands work on most SQL flavors, but some dont.**

```
SELECT column, another_column, …
FROM mytable
WHERE condition
    AND/OR another_condition
    AND/OR …;
```
- As you can see, one can build a sql clauses using the ```AND``` and ```OR``` operands after the ```WHERE``` operand. Take a look at this operands that can use when dealing with numeric columns:

| Operator            | Condition                                            | SQL Example                   |
|:---------------------|:------------------------------------------------------|:-------------------------------|
| =, !=, < <=, >, >=  | Standard numerical operators                         | col_name != 4                 |
| BETWEEN … AND …     | Number is within range of two values (inclusive)     | col_name BETWEEN 1.5 AND 10.5 |
| NOT BETWEEN … AND … | Number is not within range of two values (inclusive) | col_name NOT BETWEEN 1 AND 10 |
| IN (…)              | Number exists in a list                              | col_name IN (2, 4, 6)         |
| NOT IN (…)          | Number does not exist in a list                      | col_name NOT IN (1, 3, 5)     |


### SQL - Syntax
---

#### ADDING CONDITIONAL CONSTRAINTS - General Operands:
- What is you are dealing with non-integer columns.... well the filtering idea is the same: 
- **NOTE: All strings must be quoted so that the query parser can distinguish words in the string from SQL keywords.**
- **NOTE: these operands work on most SQL flavors, but some dont.**

```
SELECT column, another_column, …
FROM mytable
WHERE condition
    AND/OR another_condition
    AND/OR …;
```
- As you can see, one can build a sql clauses using the ```AND``` and ```OR``` operands after the ```WHERE``` operand. Take a look at this operands that can use when dealing with non-numeric columns:

| Operator   | Condition                                                                                             | SQL Example                                                       |
|:------------|-------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------|
| =          | Case sensitive exact string comparison (notice the single equals)                                     | col_name = "abc"                                                  |
| != or <>   | Case sensitive exact string inequality comparison                                                     | col_name != "abcd"                                                |
| LIKE       | Case insensitive exact string comparison                                                              | col_name LIKE "ABC"                                               |
| NOT LIKE   | Case insensitive exact string inequality comparison                                                   | col_name NOT LIKE "ABCD"                                          |
| %          | Used anywhere in a string to match a sequence of zero or more characters (only with LIKE or NOT LIKE) | col_name LIKE "%AT%"(matches "AT", "ATTIC", "CAT" or even "BATS") |
| _          | Used anywhere in a string to match a single character (only with LIKE or NOT LIKE)                    | col_name LIKE "AN_"(matches "AND", but not "AN")                  |
| IN (…)     | String exists in a list                                                                               | col_name IN ("A", "B", "C")                                       |
| NOT IN (…) | String does not exist in a list                                                                       | col_name NOT IN ("D", "E", "F")                                   |


### SQL - Syntax
---

#### ORDERING AND LIMITING OUTPUT RESULTS:
- Most of the time you want to see your results order by a column and may be you need to see/spot check the first ```n``` columns. You can do that using ```ORDER BY column ASC/DESC``` and using ```LIMIT num_limit OFFSET num_offset```
- Where ```LIMIT``` will reduce the number of rows to return, and the optional ```OFFSET``` will specify where to begin counting the number rows from.

```sql
SELECT column, another_column, …
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC
LIMIT num_limit OFFSET num_offset;
```

### SQL - Syntax
---

#### AGGREGATE EXPRESSIONS
- One of the many advantages ```SQL``` has is the ability to summarize information about a group of rows of data.
- The overall syntax looks more or less like this:
```sql
SELECT AGG_FUNC(column_or_expression) AS aggregate_description, …
FROM mytable
WHERE constraint_expression;
```
- Keep in mind that without a specified grouping, each aggregate function is going to run on the whole set of result rows and return a single value. And like normal expressions, giving your aggregate functions an alias ensures that the results will be easier to read and process.
    - **NOTE on `alias`: one can `alias` a column name and table. They are extremely helpful for when you are dealing with joins and multiple columns.**

| Function                | Description                                                                                                                                                                                     |
|:-------------------------|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| COUNT(*), COUNT(column) | A common function used to counts the number of rows in the group if no column name is specified. Otherwise, count the number of rows in the group with non-NULL values in the specified column. |
| MIN(column)             | Finds the smallest numerical value in the specified column for all rows in the group.                                                                                                           |
| MAX(column)             | Finds the largest numerical value in the specified column for all rows in the group.                                                                                                            |
| AVG(column)             | Finds the average numerical value in the specified column for all rows in the group.                                                                                                            |
| SUM(column)             | Finds the sum of all numerical values in the specified column for the rows in the group. |

### SQL - Syntax
---

#### GROUPED AGGREGATE EXPRESSIONS
- In addition to aggregating across all the rows, one can instead apply the aggregate functions to ```individual groups``` of data within that group. This would then create as many results as there are ```unique groups``` defined as by the ```GROUP BY``` clause.

```sql
SELECT AGG_FUNC(column_or_expression) AS aggregate_description, …
FROM mytable
WHERE constraint_expression
GROUP BY column;
```
- Even after a grouped aggregate function, there are still more ways that one can use to filter the output data. One can do this by using the ```HAVING``` clause **after** the ```GROUP BY``` clause.

```sql
SELECT group_by_column, AGG_FUNC(column_expression) AS aggregate_result_alias, …
FROM mytable
WHERE condition
GROUP BY column
HAVING group_condition;
```

- Keep in mind of the following
    - The ```GROUP BY``` clause is executed after the ```WHERE``` clause.
    - The ```HAVING``` clause constraints are written the same way as the ```WHERE``` clause constraints, and are applied to the grouped rows. 
    - If you aren't using the ```GROUP BY``` clause, a simple ```WHERE``` clause is enough.

### SQL - Syntax - Warmups (together)
---
#### Let's run the following queries using W3Schools built in dataset and discuss the output:
https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_columns

```
1. Select all columns (and rows) from the Customers table:
SELECT * FROM Customers;

2. Select the CustomerName column from the Customers table:
SELECT CustomerName FROM Customers;

3. SELECT CustomerID, CustomerName, ContactName
   FROM Customers
   ORDER BY CustomerName;

4. Select the Customer ID, Customer Name, and Contact Name columns from the Customers table, and filter to rows where the CustomerName is ‘Lonesome Pine Restaurant.
    SELECT CustomerID, CustomerName, ContactName
    FROM Customers
    WHERE CustomerName = “Lonesome Pine Restaurant”;

5. SELECT CustomerID, CustomerName, ContactName
    FROM Customers
    WHERE CustomerID > 80;
    
6. SELECT *
   FROM Customers
   WHERE Country IN (“Canada”, “USA”, “Mexico”)
   ORDER BY Country, City, CustomerName;

7. SELECT *
   FROM Orders;
   
8.  SELECT CustomerID
    FROM Orders
    ORDER BY CustomerID;
    
9. Select the CustomerID, Count of Rows (Orders) per CustomerID from the Orders table, and sort by CustomerID.
    SELECT CustomerID, Count(*) as OrderCount
    FROM Orders
    GROUP BY CustomerID
    ORDER BY CustomerID;
    
10. What is wrong with this query:
    SELECT CustomerID, Count(*) as OrderCount
    FROM Orders
    WHERE OrderCount > 1
    GROUP BY CustomerID
    ORDER BY CustomerID;
    
ANS: There is no OrderCount field in the original table to filter on in the WHERE clause! We are counting the         rows AFTER they’re grouped, so to filter on this Count column, we have to filter AFTER the GROUP BY. 

11. SELECT CustomerID, Count(*) as OrderCount
    FROM Orders
    GROUP BY CustomerID
    HAVING OrderCount > 1
    ORDER BY CustomerID;

```

### SQL - Syntax - Warmups (Independent) 
---
#### Let's run the following queries using W3Schools built in dataset and discuss the output:
https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_columns

Now that you've learned a lot more commands, try combining them:
~~~
1. Retrieve the top 3 orders by number of items ordered
2. Retrieve the oldest 5 orders
3. Retrieve the 5 most recent orders. Nest that query into another one that ranks these 5 orders by shipping country (alphabetical order) => REMEMBER YOUR MODE READINGS
4. Try 3 OTHER queries on your own
~~~

> Answers:
```sql
SELECT "OrderID", SUM("Quantity") AS "Sum"
FROM OrderDetails
GROUP BY "OrderID"
ORDER BY "Sum" DESC
LIMIT 3;
```
```sql
SELECT "OrderID", "OrderDate"
FROM Orders
ORDER BY "OrderDate"
LIMIT 5;
```
```sql
SELECT * FROM (
	SELECT "OrderID", "OrderDate", "ShipCountry"
	FROM Orders
	ORDER BY "OrderDate" DESC
	LIMIT 5
	) AS fivemostrecent
ORDER BY "ShipCountry";
```

### SQL - Syntax
---

#### NORMALIZATION AND JOINS:
> Cue example of non-normalized table structure.

- ```Database normalization``` is useful because it minimizes duplicate data in any single table, and allows for data in the database to grow independently of each other (ie. Types of car engines can grow independent of each type of car). As a trade-off, queries get slightly more complex since they have to be able to find data from different parts of the database, and performance issues can arise when working with many large tables.
- In order to answer questions about an entity that has data spanning multiple tables in a normalized database, we need to learn how to write a query that can combine all that data and pull out exactly the information we need.


- Here is where ```JOINS``` come handy:

```
1. At its core, JOIN is a technique for merging data together from multiple tables
2. Tables must have a shared Foreign Key to be joined together
3. We can create Multiple JOINS to merge data from more than one table
4. Data from JOINS only exist in memory during the transaction of the query
```

### SQL - Syntax
---

#### JOINS:

-```JOINS``` how they work?:

```
1. Data is merged between two tables at a time.
2. Cartesian product is created between two tables (in other words every possible combination of records).
3. Results are then filtered based on a condition where Foreign Keys equal each other.
4. All fields (unless you only specify columns from each table) from both tables are included in JOINS.
5. When we have multiple joins: JOINS are executed one by one in the order they are written.
6. When we have multiple joins: the output of first join is used in subsequent join.
7. When we have multiple joins: each join we create, adds computing work to the server.
8. When we have multiple joins: Foreign keys must be shared between the table being joined and the previous tables that were joined
```

-```JOINS``` basic syntax:

```sql
SELECT column, another_table_column, …
FROM mytable
JOIN another_table 
    ON mytable.id = another_table.id
WHERE condition(s)
ORDER BY column, … ASC/DESC
LIMIT num_limit OFFSET num_offset;
```

### SQL - Syntax
---

#### TYPE OF JOINS:

-```INNER JOINS```: Default JOIN.
<p align="center">
  <img src="../../img/sql_inner_join_1.png" width="500" height="1000">
</p>
*Image from QuantSprout*

### SQL - Syntax
---

#### TYPE OF JOINS:

-```INNER JOINS```: Default JOIN.
<p align="center">
  <img src="../../img/sql_inner_join_2.png" width="500" height="1000">
</p>
*Image from QuantSprout*

### SQL - Syntax
---

#### TYPE OF JOINS:

-```LEFT JOIN```.
<p align="center">
  <img src="../../img/sql_left_join_1.png" width="500" height="1000">
</p>
*Image from QuantSprout*

### SQL - Syntax
---

#### TYPE OF JOINS:

-```LEFT JOIN```.
<p align="center">
  <img src="../../img/sql_left_join_2.png" width="500" height="1000">
</p>
*Image from QuantSprout*

### SQL - Syntax
---

#### TYPE OF JOINS:

-```RIGHT JOIN```.
<p align="center">
  <img src="../../img/sql_right_join_1.png" width="500" height="1000">
</p>
*Image from QuantSprout*

### SQL - Syntax
---

#### TYPE OF JOINS:

-```RIGHT JOIN```.
<p align="center">
  <img src="../../img/sql_right_join_2.png" width="500" height="1000">
</p>
*Image from QuantSprout*

### SQL - Syntax
---

#### TYPE OF JOINS:

-```OUTTER JOIN```.
<p align="center">
  <img src="../../img/sql_outter_join_1.png" width="500" height="1000">
</p>
*Image from QuantSprout*

### SQL - Syntax
---

#### TYPE OF JOINS:

-```OUTTER JOIN```.
<p align="center">
  <img src="../../img/sql_outter_join_2.png" width="500" height="1000">
</p>
*Image from QuantSprout*

### SQL - Syntax
---

#### TYPE OF JOINS - SYNTAX:
```sql
SELECT column, another_column, …
FROM mytable
INNER/LEFT/RIGHT/FULL JOIN another_table 
    ON mytable.id = another_table.matching_id
WHERE condition(s)
ORDER BY column, … ASC/DESC
LIMIT num_limit OFFSET num_offset;
```

### SQL - Syntax - Warmups (together)
---
#### Let's run the following queries using W3Schools built in dataset and discuss the output:
https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_columns

~~~
1. Select the CustomerID and CustomerName from the Customers table, 
and the CustomerID, OrderID, and OrderDate from the Orders table, 
where the CustomerID in the Customers table and the CustomerID in the Orders table match

SELECT 
Customers.CustomerID, 
Customers.CustomerName,
Orders.CustomerID, 
Orders.OrderID, 
Orders.OrderDate
FROM Customers
	LEFT JOIN Orders
		ON Customers.CustomerID = Orders.CustomerID
~~~


~~~
2. Goup on the CustomerID in the Customers table so we can aggregate (summarize) columns from the Orders table:

SELECT Customers.CustomerID, Customers.CustomerName,
COUNT(Orders.OrderID) OrderCount, 
	MIN(Orders.OrderDate) as FirstOrderDate
FROM Customers
	LEFT JOIN Orders
		ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.CustomerID, Customers.CustomerName


~~~

~~~
3. What is the difference between the output of this query from the one above?

SELECT Customers.CustomerID, Customers.CustomerName,
COUNT(Orders.OrderID) OrderCount, 
	MIN(Orders.OrderDate) as FirstOrderDate
FROM Customers
	INNER JOIN Orders
		ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.CustomerID, Customers.CustomerName
~~~


~~~
4. Getting order quantity and total order 


SELECT orders.customerid, orders.orderid,
COUNT(DISTINCT products.productid) as distinctproducts, 
SUM(orderdetails.quantity) as orderqty, 
SUM(products.price) as ordertotal
FROM orders
LEFT JOIN orderdetails ON orders.orderid = orderdetails.orderid
LEFT JOIN products ON orderdetails.productid = products.productid
GROUP BY orders.customerid, orders.orderid
~~~

### SQL - Syntax
---

#### SUBQUERIES:
- Think as a nested query where given the output of the internal query you use this output for your outter query. 

~~~
SELECT *
FROM Customers
WHERE CustomerID IN 
	(
       SELECT CustomerID
	  FROM Orders
       GROUP BY CustomerID
       HAVING Count(*) > 1
      )
ORDER BY Country, City, CustomerName
~~~

### SQL - Syntax
---

#### Conditionals - CASE WHEN:
- Think of this as your if statement in Python. 
~~~
CASE WHEN Product.Category=1 THEN 1 ELSE 0 END
~~~
- Once you have the output of the ```CASE``` statement you can then pass other sql functions

~~~
MAX(CASE WHEN Product.Category=1 THEN 1 ELSE 0 END)
~~~

### SQL - Syntax
---

#### Let's run the following query using W3Schools built in dataset and discuss the output:
https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_columns
~~~
SELECT orders.customerid, orders.orderid,
COUNT(DISTINCT products.productid) as distinctproducts, 
SUM(orderdetails.quantity) as orderqty, 
SUM(products.price) as ordertotal,
MAX(CASE WHEN products.categoryid = 1 THEN 1 ELSE 0 END) beverages_flag,
MAX(CASE WHEN products.categoryid = 6 THEN 1 ELSE 0 END) candy_flag
FROM orders
LEFT JOIN orderdetails ON orders.orderid = orderdetails.orderid
LEFT JOIN products ON orderdetails.productid = products.productid
GROUP BY orders.customerid, orders.orderid;
~~~