<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON611
### Review python iteration, control flows, and functions

In [1]:
import numpy as np
import imp

---

### 1. Write an if-else statement to check whether the suitcase is over 50lb.

Print a message indicating whether or not the suitcase is over 50lbs.

In [2]:
weight = float(input("How many pounds does your suitcase weigh? "))

How many pounds does your suitcase weigh? 90

In [ ]:
'''Your answer'''

---

### 2. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. Temperature over 60 and rain: bring an umbrella.
2. Temperature less than or equal to 60 and rain: bring and umbrella and a jacket.
3. Temperature over 60 and shine: wear a t-shirt.
4. Temperature less than or equal to 60 and shine: bring a jacket.

In [4]:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain or shine) ')

What is the temperature? 90
What is the weather? (rain or shine) rain

In [5]:
'''your answer'''

'your answer'

---

### 3. Write a for-loop that iterates from the number 1 to the number 15.

On each iteration, print out the number.

In [6]:
'''your answer'''

'your answer'

---

### 4. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [7]:
'''your answer'''

'your answer'

---

### 5. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [8]:
'''your answer'''

'your answer'

---

### 6. Iterate through the list of animals and print each one, but in all caps.

In [9]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [10]:
'''your answer'''

'your answer'

---

### 7. Iterate through the animals. Capitalize the first letter and append the modified animals to a new list.

In [11]:
'''your answer'''

'your answer'

---

### 8. Iterate through the animals. Print out the animal name and the number of vowels in the name.

In [12]:
vowels = 'aeiou'
'''your answer'''

'your answer'

---

### 9. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on 3 words.

In [13]:
'''your answer'''

print (vowel_counter('hello'))
print (vowel_counter('specialist'))
print (vowel_counter('insanely'))

NameError: name 'vowel_counter' is not defined

---

### 10. Write a function to calculate the area of a triangle from a height and width.

In [ ]:
'''your answer'''

In [ ]:
print triangle_area(10, 5)
print triangle_area(5, 23)

---

### 11. While loops and strings.

Iterate over the following sentence over and over again, counting the number of vowels in the sentence until you have counted 1 million vowels. Print out the number of iterations it took to reach one million.

In [ ]:
sentence = "IF THE ZOO BANS ME FOR HOLLERING AT THE ANIMALS I WILL FACE GOD AND WALK BACKWARDS INTO HELL"

In [ ]:
iterations = 0
vowels = 0
while True:
'''your answer'''

print ('iterations:', iterations)
print ('vowels:', vowels)

---

### 12. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [ ]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [ ]:
cleaned = []
'''your answer'''


print (cleaned)

---

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [ ]:
with open('../../datasets/coffee_preferences/dat12-coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through lines and print them out

In [ ]:
'''your answer'''

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

In [ ]:
lines

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**`.replace('\n', '')`** is a built-in string function that will take as the first argument the substring you want to replace, and as its second argument the string you want to replace it with.

In [ ]:
cleaned_lines = []
'''your answer'''


cleaned_lines

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [ ]:
header = '''your answer'''
data = '''your answer'''

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the **`.split(',')`** built-in function. 

Split the header on commas first and print it. You can see that the original string is now a list, with items that were originally separated by commas.

In [ ]:
# split on commas
header = '''your answer'''
print (header)

split_data = []
for d in data:
    '''your answer'''

---

### 17. Remove the "Timestamp" column.

We aren't interested in the Timestamp column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [ ]:
# remove Timestamp:
header = header[1:]
data_nots = []
for row in split_data:
'''your answer'''

In [ ]:
data_nots

---

### 18. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that has the numeric ratings converted from strings to floats, and the empty fields (which are empty strings `''`) replaced with the `None` object.

Use a nested for-loop (for-loop within another for-loop) to get the job done. You will likely need to use if/else conditional statements as well.

Print out the new data object to make sure it worked.

In [ ]:
data_num = []
'''your answer'''

In [ ]:
data_num

---

### 19. Count the `None` values per person and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [ ]:
user_nones = {}
'''your answer'''
    
user_nones

# Least: Alex, Dave H, cheong-tseng eng
# Most: Hugh Jass, Matt, Rocky, Vijay

---

### 20. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [ ]:
brand_ratings = {}
'''your answer'''
    
brand_avg_ratings

---

### 21. Create a list of just the people's names.

In [ ]:
people = []
'''your answer'''
    
print len(people)
people

---

### 22. Picking a name at random: odds of choosing the same name 3 times in a row.

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [ ]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly 3 times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [ ]:
def choose_three(sequence):
  '''your answer'''

In [ ]:
choose_three(people)

---

### 23. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person 3 times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [ ]:
tries = 0
chose_same_person = False

while not chose_same_person:
'''your answer'''